{% extends '_default/page.html.twig' %}

    {%- block content ~%}
      {#- docs menu navigation ~#}
      {%- include 'partials/menu.html.twig' ~%}
      <article class="w-full lg:ml-64 xl:ml-96 overflow-x-hidden px-4 md:px-6 lg:px-16 py-8 lg:py-16">
        {#- GitHub edit ~#}
        {%- if page.type != 'homepage' ~%}
        <a href="{{ site.github.repo }}/blob/{{ site.github.branch }}/pages/{{ page.filepath }}" title="Improve the documentation by editing this file on GitHub" class="hidden md:inline-block float-right text-sm hover:bg-gray-100 text-gray-900 py-2 px-4 border border-gray-400 rounded hover:no-underline">
          Edit<span class="hidden lg:inline"> on GitHub</span>
        </a>
        {%- endif ~%}
        {#- article content ~#}
        <section id="content" class="markdown max-w-none">
          {%- block article ~%}
          {{ page.content }}
          {%- endblock article ~%}
        </section>
        {#- prev/next navigation ~#}
        {%- if page.next is defined or page.prev is defined ~%}
        <div class="mt-12 mb-12 flow-root">
          {%- if page.prev is defined ~%}
          <a class="float-left mt-3" href="{{ url(page.prev) }}" title="{{ page.prev.title }}">
            ← {{ page.prev.title }}
          </a>
          {%- endif ~%}
          {%- if page.next is defined ~%}
          <a class="float-right mt-3" href="{{ url(page.next) }}" title="{{ page.next.title }}">
            {{ page.next.title }} →
          </a>
          {%- endif ~%}
        </div>
        {%- endif ~%}
      </article>
      {#- current page navigation ~#}
      {%- if page.type != 'homepage' ~%}
      <nav id="in-page-menu" class="hidden xl:block py-8 w-64 text-gray-500">
        <h3 class="mb-2 font-semibold text-sm uppercase">On this page</h3>
        <ul class="list-none p-0 sticky top-[80px]"></ul>
      </nav>
      {%- endif ~%}
    {% endblock content %}