{% extends ['list.html.twig', '_default/list.html.twig'] %}

      {%- block content ~%}
      <div class="flex">
        <div class="w-full lg:max-w-screen-lg mx-auto px-4 xl:px-16 py-6">
          <section id="content" class="markdown markdown-slate markdown-a:text-primary-700 markdown-a:no-underline markdown-a:font-normal markdown-code:max-w-none dark:markdown-invert max-w-none">
            {%- block article ~%}
            <h1>{{ page.title }}</h1>
            {%- if page.content %}{{ page.content }}{% endif ~%}
            {%- endblock article ~%}
          </section>
          <div class="py-6">
            <nav class="grid grid-cols-1 gap-8">
              {%- for p in pages ~%}
              <a href="{{ url(p) }}" class="hover:no-underline text-inherit dark:text-inherit">
                <section class="px-6 py-6 rounded-xl border border-secondary-200 shadow-md hover:border-primary-700 dark:hover:border-primary-400 h-full">
                  <div class="text-sm">{{ p.date|format_date('long') }}</div>
                  <h2 class="mt-1 font-semibold text-lg">{{ p.title }}</h2>
                  <div class="mt-2 text-secondary-600 dark:text-secondary-400 font-normal">{{ p.content|excerpt_html }}</div>
                </section>
              </a>
              {%- endfor ~%}
            </nav>
          </div>
        </div>
      </div>
      {%- endblock content ~%}