{% extends ['page.html.twig', '_default/page.html.twig'] %}

      {%- block content ~%}
      <div class="w-full lg:max-w-screen-lg mx-auto px-4 xl:px-16 py-6">
        <article id="content" class="markdown markdown-slate markdown-a:text-primary-700 markdown-a:no-underline markdown-a:font-normal markdown-code:max-w-none dark:markdown-invert max-w-none">
          {%- block article ~%}
          <header>
            <h1>{{ page.title }}</h1>
            {#- date + read time ~#}
            <div class="mt-2 text-sm">{{ page.date|format_date('long') }} &#x2022; {% trans with {'%minutes%': readtime(page.content)} %}%minutes% min of reading{% endtrans %}</div>
            {#- author(s) ~#}
            {%- if page.authors is defined ~%}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
              {%- for author in page.authors ~%}
                {%- if author is not iterable ~%}
                  {%- set author = site.data.authors[author] ~%}
                {%- endif ~%}
              <div class="flex flex-row items-center space-x-4 mt-2">
                {%- if author.avatar is defined ~%}
                {%- set avatar = asset(author.avatar)|resize(2 * 48) ~%}
                <picture class="my-0">
                  <source srcset="{{ avatar|webp }}" type="image/webp">
                  <img class="w-12 h-12 rounded-full" src="{{ avatar }}" type="{{ avatar.subtype }}" width="{{ avatar.width }}" height="{{ avatar.height }}" alt="{{ 'Avatar of %name%'|trans({'%name%': author.name}) }}">
                </picture>
                {%- endif ~%}
                <div class="flex flex-col">
                  <div class="font-medium">
                    {%- if author.url is defined ~%}
                    <a href="{{ author.url }}">{{ author.name }}</a>
                    {%- else -%}
                    {{ author.name }}
                    {%- endif ~%}
                  </div>
                  {%- if author.description is defined ~%}
                  <div class="text-sm">{{ author.description }}</div>
                  {%- endif ~%}
                </div>
              </div>
            {%- endfor ~%}
            </div>
            {%- endif ~%}
          </header>
          {{ page.content }}
          <footer class="mt-6">
            {{- include('partials/github-edit.html.twig') ~}}
          </footer>
          {{- include('partials/nav-prev-next.html.twig') ~}}
          {%- endblock article ~%}
        </article>
      </div>
      {%- endblock content ~%}