          {#- language selector ~#}
          {%- if page.translations|length >= 1 ~%}
          <form id="lang-form">
            <label class="sr-only" for="lang-select">{% trans %}Language:{% endtrans %}</label>
            <select id="lang-select" onchange="switchLanguage(value)" class="w-[5.25rem] text-ellipsis">
              <option value="{{ url(page) }}">{{ page.language|language_name(site.language.locale(page.language))|capitalize }}</option>
            {%- for p in page.translations ~%}
              {%- if p.language is defined ~%}
              <option value="{{ url(p) }}">{{ p.language|language_name(site.language.locale(p.language))|capitalize }}</option>
              {%- endif ~%}
            {%- endfor ~%}
            </select>
          </form>
          <script>
            {%- apply minify_js ~%}
            function switchLanguage(language) {
              setLanguageCookie(language);
              window.location.href = document.getElementById('lang-select').value;
            }
            function setLanguageCookie(language) {
              language = trimSlashes(language);
              if (language.length === 0) {
                language = '{{ config.language }}';
              }
              document.cookie = 'nf_lang=' + language + '; path=/';
            }
            function trimSlashes(str){
              str = str.startsWith('/') ? str.substr(1) : str;
              str = str.endsWith('/') ? str.substr(0, str.length - 1) : str;
              return str;
            }
            {%- endapply ~%}
          </script>
          {%- endif ~%}