      {#- sidebar ~#}
      <div id="sidebar" class="fixed z-50 lg:z-0 top-0 lg:top-auto lg:flex lg:flex-col w-80 lg:max-w-72 h-screen overflow-auto bg-primary-100 dark:bg-primary-900 shadow-md lg:shadow-none -translate-x-full {% if page.type != 'homepage' %}lg:translate-x-0{% endif %} transition-all duration-200 ease-out">
        <div class="lg:hidden flex space-x-3 space-x-reverse items-center h-14 pl-4 pr-1 lg:pl-6 lg:pr-2 py-3">
          <div class="hidden"></div>
          {{- include('partials/menu-title.html.twig') ~}}
        </div>
        <nav class="px-4 py-3 divide-y divide-secondary-400 lg:divide-y-0">
          {%- block navigation ~%}
          {#- navigation menu ~#}
          <div class="lg:hidden flex flex-col space-y-2 pb-4 font-semibold">
            {{- include('partials/navigation.html.twig') ~}}
          </div>
          {#- docs groups ~#}
          {%- if page.section == 'docs' ~%}
          <div class="pt-4">
            {%- for group in site.sidebar ~%}
              {%- if site.page('docs/' ~ group|slugify) ~%}
                {%- set group_title = site.page('docs/' ~ group|slugify).title ~%}
              {%- else ~%}
                {%- set group_title = group ~%}
              {%- endif ~%}
            <div class="group-title">{{ group_title|trans }}</div>
            <ul>
              {#-{%- for p in site.pages.showable|filter(p => p.path matches '{^docs/' ~ group|slugify ~ '}') ~%}~#}
              {%- for p in site.pages.showable|filter(p => p.folder == 'docs/' ~ group|slugify) ~%}
              <li>
                <a href="{{ url(p) }}" class="flex {% if url(p) == url(page) %}active{% endif %}">{{ p.title }}</a>
              </li>
              {%- endfor ~%}
            </ul>
            {%- endfor ~%}
          </div>
          {%- endif ~%}
          {%- endblock navigation ~%}
          <div class="lg:hidden mt-4 pt-4 flex flex-col space-y-1">
            {{- include('partials/theme-selector.html.twig', {'label': true}) ~}}
            {{- include('partials/language-selector.html.twig', {'label': true}) ~}}
          </div>
        </nav>
        <footer class="mt-4 text-sm text-center text-secondary-800 dark:text-secondary-300 font-thin">
          {% trans %}Powered by{% endtrans %} <a href="{{ cecil.url }}">Cecil</a>
        </footer>
      </div>