{% extends '_default/page.html.twig' %}

{% block content %}
{% if page.rendered.svg|default(0) != 0 %}
{#<img src="{{ page.rendered.svg.output|svg_to_png }}" />#}
{% endif %}
{% endblock %}

{% block footer %}
<nav>
    <lu>
{% for entry in site.navigation %}
        <li>
            <strong>{{ entry }}</strong>
            <ul>
    {%- for p in site.pages.showable|filter(p => p.path matches '{^docs/' ~ entry|slugify ~ '}') ~%}
                <li>
                    <a href="{{ url(p) }}" style="{% if url(p) == url(page) %}font-weight:bold;{% endif %}">{{ p.title }}</a>
                </li>
    {%- endfor ~%}
            </ul>
        </li>
{% endfor %}
    </ul>
</nav>
{{ parent() }}
{% endblock %}