{% extends '_default/page.html.twig' %}

    {%- block content ~%}
      <article class="w-full lg:ml-72 overflow-x-hidden px-4 xl:px-16 py-6">
        <details class="mb-4 xl:hidden rounded-md bg-primary-100 dark:bg-primary-950 px-2 py-1">
          <summary class="cursor-pointer text-sm uppercase text-secondary-500 dark:text-secondary-300">
            {% trans %}On this page{% endtrans ~%}
          </summary>
          {{ page.body|toc }}
        </details>
        {#- article content ~#}
        <section id="content" class="markdown markdown-slate markdown-code:max-w-none dark:markdown-invert max-w-none">
          {%- block article ~%}
          {{ page.content }}
          {%- endblock article ~%}
        </section>
        <footer class="pt-6">
          {%- include 'partials/edit.html.twig' ~%}
        </footer>
        {#- prev/next navigation ~#}
        {%- if page.next is defined or page.prev is defined ~%}
        <nav class="mt-8 flex flex-col sm:flex-row space-y-2 sm:space-y-0 space-x-0 sm:space-x-4">
          {%- if page.prev is defined ~%}
          <a class="basis-1/2 py-2 px-3 font-medium hover:no-underline text-left border-solid border border-secondary-300 hover:border-primary-700 dark:hover:border-primary-400 rounded-md" href="{{ url(page.prev) }}" title="{{ page.prev.title }}">
            <div class="mb-2 text-sm text-secondary-500 dark:text-secondary-400">{% trans %}Previous{% endtrans %}</div>
            <div>← {{ page.prev.title }}</div>
          </a>
          {%- else ~%}
          <div class="grow"></div>
          {%- endif ~%}
          {%- if page.next is defined ~%}
          <a class="basis-1/2 py-2 px-3 font-medium hover:no-underline text-right border-solid border border-secondary-300 hover:border-primary-700 dark:hover:border-primary-400 rounded-md" href="{{ url(page.next) }}" title="{{ page.next.title }}">
            <div class="mb-2 text-sm text-secondary-500 dark:text-secondary-400">{% trans %}Next{% endtrans %}</div>
            <div>{{ page.next.title }} →</div>
          </a>
          {%- endif ~%}
        </nav>
        {%- endif ~%}
      </article>
      {#- "On this page" navigation ~#}
      <div>
        <nav id="on-this-page" class="hidden xl:block py-6 w-64 text-secondary-500 dark:text-secondary-300 sticky top-[80px]">
          <h3 class="mb-2 font-semibold text-sm uppercase tracking-wider">{% trans %}On this page{% endtrans %}</h3>
          <div id="on-this-page-toc">
            {{ page.body|toc }}
          </div>
          <div class="mt-5 border-t border-secondary-400 dark:border-secondary-500">
            {%- include 'partials/edit.html.twig' ~%}
          </div>
        </nav>
      </div>
    {%- endblock content ~%}

    {% block footer %}
      {{ parent() }}
      <div id="button-top" class="fixed bottom-0 mb-4 right-0 mr-4 z-10 opacity-0">
        <a href="#main" class="rounded-full border-0 flex items-center justify-center w-10 h-10 bg-primary-700 dark:bg-primary-900 text-primary-100 hover:text-primary-50 shadow-md" aria-label="{% trans %}Back to top{% endtrans %}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
          </svg>
        </a>
        <script>
          {%- apply minify_js ~%}
          window.addEventListener('scroll', function (e) {
            console.log(window.scrollY);
            document.getElementById('button-top').classList.add('opacity-0');
            if (window.scrollY > 300) {
              document.getElementById('button-top').classList.remove('opacity-0');
            }
          });
          {%- endapply ~%}
        </script>
      </div>
    {% endblock %}

    {% block scripts %}
    {{ parent() }}
    {{ asset('https://cdnjs.cloudflare.com/ajax/libs/tocbot/' ~ site.tocbot.version ~ '/tocbot.min.css', {minify: false})|html({title: 'Tocbot'}, {preload: true}) }}
    <style>
      {%- apply minify_css ~%}
      .toc-list {
        padding-left: 0;
      }
      .toc-list .is-collapsible {
        padding-left: 10px;
      }
      .toc-link::before {
        display: none;
      }
      .is-active-link {
        font-weight: 600;
      }
      {%- endapply ~%}
    </style>
    {{ asset('https://cdnjs.cloudflare.com/ajax/libs/tocbot/' ~ site.tocbot.version ~ '/tocbot.min.js', {minify: false})|html }}
    <script>
      {%- apply minify_js ~%}
      tocbot.init({
        tocSelector: '#on-this-page-toc',
        contentSelector: '#content',
        headingSelector: 'h2, h3',
        hasInnerContainers: true,
        scrollSmooth: false,
        headingsOffset: 70,
        scrollSmoothOffset: -70,
      });
      {%- endapply ~%}
    </script>
    {{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/' ~ site.jquery.version ~ '/jquery.slim.min.js', {minify: false})|html({integrity: 'sha512-5NqgLBAYtvRsyAzAvEBWhaW+NoB+vARl6QiA02AFMhCWvPpi7RWResDcTGYvQtzsHVCfiUhwvsijP+3ixUk1xw==', crossorigin: 'anonymous'}) }}
    <script>
      {%- apply minify_js ~%}
      $(function () {
        $('article h2, article h3').each(function () {
          var url = document.URL.replace(/#.*$/, "") + '#' + $(this).attr('id');
          $(this).append('<a class="title-anchor" href="' + url + '">#</a>');
        });
      });
      {%- endapply ~%}
    </script>
    {%- endblock scripts ~%}