{% extends '_default/page.html.twig' %}

    {%- block content ~%}
      {%- include 'partials/sidebar.html.twig' ~%}
      <article class="w-full lg:ml-64 xl:ml-80 overflow-x-hidden px-4 xl:px-16 py-4 lg:py-6">
        <details class="mb-4 xl:hidden">
          <summary class="cursor-pointer text-slate-500 dark:text-slate-300">
            {% trans %}On this page{% endtrans ~%}
          </summary>
          {{ page.body|toc }}
        </details>
        {#- article content ~#}
        <section id="content" class="markdown markdown-slate markdown-code:max-w-none dark:markdown-invert max-w-none">
          {%- block article ~%}
          {{ page.content }}
          {%- endblock article ~%}
        </section>
        <footer class="pt-6">
          {%- include 'partials/edit.html.twig' ~%}
        </footer>
        {#- prev/next navigation ~#}
        {%- if page.next is defined or page.prev is defined ~%}
        <nav class="mt-8 flex flex-col sm:flex-row space-y-2 sm:space-y-0 space-x-0 sm:space-x-4">
          {%- if page.prev is defined ~%}
          <a class="basis-1/2 py-2 px-3 font-medium hover:no-underline text-left border-solid border border-slate-300 hover:border-primary-700 dark:hover:border-primary-400 rounded-md" href="{{ url(page.prev) }}" title="{{ page.prev.title }}">
            <div class="mb-2 text-sm text-slate-500 dark:text-slate-400">{% trans %}Previous{% endtrans %}</div>
            <div class="hover:opacity-75">← {{ page.prev.title }}</div>
          </a>
          {%- else ~%}
          <div class="grow"></div>
          {%- endif ~%}
          {%- if page.next is defined ~%}
          <a class="basis-1/2 py-2 px-3 font-medium hover:no-underline text-right border-solid border border-slate-300 hover:border-primary-700 dark:hover:border-primary-400 rounded-md" href="{{ url(page.next) }}" title="{{ page.next.title }}">
            <div class="mb-2 text-sm text-slate-500 dark:text-slate-400">{% trans %}Next{% endtrans %}</div>
            <div class="hover:opacity-75">{{ page.next.title }} →</div>
          </a>
          {%- endif ~%}
        </nav>
        {%- endif ~%}
      </article>
      {#- "On this page" navigation ~#}
      <div>
        <nav id="on-this-page" class="hidden xl:block py-6 w-64 text-slate-500 dark:text-slate-300 sticky top-[80px]">
          <h3 class="mb-2 font-semibold text-sm uppercase tracking-wider">{% trans %}On this page{% endtrans %}</h3>
          <div id="on-this-page-toc">
            {{ page.body|toc }}
          </div>
          <div class="mt-5 border-t border-slate-400 dark:border-slate-500">
            {%- include 'partials/edit.html.twig' ~%}
          </div>
        </nav>
      </div>
    {%- endblock content ~%}

    {% block scripts %}
    {{ parent() }}
    {{ asset('https://cdnjs.cloudflare.com/ajax/libs/tocbot/' ~ site.tocbot.version ~ '/tocbot.min.css', {minify: false})|html({title: 'Tocbot'}, {preload: true}) }}
    <style>
      {%- apply minify_css ~%}
      .toc-list {
        padding-left: 0;
      }
      .toc-list .is-collapsible {
        padding-left: 10px;
      }
      .toc-link::before {
        display: none;
      }
      .is-active-link {
        font-weight: 600;
      }
      {%- endapply ~%}
    </style>
    {{ asset('https://cdnjs.cloudflare.com/ajax/libs/tocbot/' ~ site.tocbot.version ~ '/tocbot.min.js', {minify: false})|html }}
    <script>
      {%- apply minify_js ~%}
      tocbot.init({
        tocSelector: '#on-this-page-toc',
        contentSelector: '#content',
        headingSelector: 'h2, h3',
        hasInnerContainers: true,
        scrollSmooth: false,
        headingsOffset: 70,
        scrollSmoothOffset: -70,
      });
      {%- endapply ~%}
    </script>
    {%- endblock scripts ~%}